.header {
  background-color: #2c0e3a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-img {
  width: 150px;
  height: 60px;
  margin: 0px 20px;
  padding: 10px;
}

.timer-img {
  width: 40px;
  height: 40px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0px 20px;
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: stretch;
  position: absolute;
  color: white;
  padding-top: 30px;
  margin-bottom: 10px;
}

.match-img {
  width: 62vw;
  padding-top: 20px;
}

.image-tab-container {
  width: 62vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-right: auto;
  margin-left: auto;
}
ul {
  padding: 0px;
}
.game-over {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gameOver {
  margin-top: 30vh;
  width: 200px;
}

.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  min-height: stretch;
  position: absolute;
  color: white;
  padding-top: 30px;
  margin: 2vw;
  margin-bottom: 10px;
  /* width: 100vw; */
  height: 70vh;
}
.class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: stretch;
  height: 90vh;
}
.reset {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
